<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<br>
<br>
<br>


<p align="center"><strong>Note:</strong></p>
<p align="center">At this stage - "access-token" is set as cookie in your browser, this cookie is available only on http/s.</p> 
<p align="center">You can inspect this cookie using developer-tools of your browser.</p>
<p align="center">"access-token" set in your browser cookie will be used to gain access to data, when you access data from resource-server. </p>
<p align="center">
<a href="/data/users">Click to access data from "resource-server"</a>
</p>
</body>
</html>